body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

/* header and footer areas */
.menu li { display: inline-block; }
.menu a {padding: 5px;}
.menu {padding:0px;}
.article-meta {padding: 18px;}
.title { 
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 1em;
	}
.meta {margin: 2px;}
.menu, .article-meta, .comment, .related, footer { text-align: center; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* links */
a:link, a:visited, a:hover {color: var(--accent);}
.menu a, footer a, a.icon:hover, a:link, a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}

/* code and blockquote */
pre {
  border: 1px solid #ddd;
  padding: 1em;
  overflow-x: auto;
}
pre, code, blockquote { background: #f7f7f7; }
pre code { background: none; }
blockquote {
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }

.item-tag {
	border: 1px solid #828892;
    font-size: .9em;
    box-shadow: none;
    padding: 4px;
    border-radius: 3px;
}

.copyright {
    margin: 15px 0;
    font-size: .85em;
}

.pages {
    padding: 15px 0;
    text-align: center;
}

.pages-icon {padding: 0 15px;}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

/* post navigation */
.post-nav {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ddd;
}

.post-nav__caption {
	display: block;
	font-weight: bold;
	line-height: 1rem;
	overflow: hidden;
}

.post-nav__title-left {
	margin-right: 5px;
}

.post-nav__title-left, .post-nav__title-right {
	font-size: .95rem;
	overflow: hidden;
	margin-top:5px;
}

.post-prev {}
.post-next {
	text-align: right;
}
