body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

/* header and footer areas */
.menu li { display: inline-block; }
.article-meta {
  padding: 15px;
}
.menu a {
  text-decoration: none;
  padding: 5px;
}
.menu { 
    text-align: center; 
    padding:0px;}
.article-meta { 
	text-align: center;
	padding-bottom: 1.2em;
	}
.title { 
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 1em;
	}
.date {
	margin: 2px;
	}
.comment, .related, footer { text-align: center; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* links */
a:link, a:visited {
    color: var(--accent);
    text-decoration: none;
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent);
    text-decoration: underline;
}

/* code */
pre {
  border: 1px solid #ddd;
  background: #f7f7f7;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

.item-tag {
    border-width: 1px;
    border-color: #828892;
    border-style: solid;
    background-color: #ffffff;
    font-size: .9em;
    box-shadow: none;
    padding: 4px;
    border-radius: 3px;
}

.copyright {
    margin: 15px 0;
    font-size: .85em;
}

.pages {
    padding: 15px 0;
    text-align: center;
}

.pages-icon {
    padding: 0 15px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }
