{{- if .Site.Params.post_navigation }}
{{- if or (.PrevInSection) (.NextInSection) }}
<nav class="post-nav">
	<div class="post-prev">
	{{- if .PrevInSection }}
		<a href="{{.PrevInSection.RelPermalink}}" rel="prev">
			<span class="post-nav__caption">
				« Older
			</span>
			<p class="post-nav__title-left">
				{{.PrevInSection.Title}}
			</p>
		</a>
	{{- end }}
	</div>
	{{- if .NextInSection }}
	<div class="post-next">
		<a href="{{.NextInSection.RelPermalink}}" rel="next">
			<span class="post-nav__caption">
				Newer »
			</span>
			<p class="post-nav__title-right">
				{{.NextInSection.Title}}
			</p>
		</a>
	</div>
	{{- end }}
</nav>
{{- end }}
{{- end }}
